*{
    box-sizing: content-box;
}

.input-group{
    width: 216px;
    height: 29px;
    position: relative;
    margin-left: 250px;
    margin-right: 170px;
}

.navbar>.container{
    justify-content: center;
}

.input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select, .input-group>:not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    border-top-left-radius: 0.375rem; 
    border-bottom-left-radius:0.375rem;
}
.input-group ::placeholder{
    padding-left: 89px;

}

.input-group svg {
    position:absolute;
    display:inline-block;
    width: 9px;
    height:9px;
    left:80px;
    top:15px;
    z-index: 1;
}

.navbar-collapse{
    flex-grow: 0;
}

hr{
    margin-top:12px;
}

.navbar-nav li{
    margin-left: 20px;
    cursor: pointer;
}

/* profile info */
.profile .container{
    display: flex;
    justify-content: center;
}

.profile-img{
    margin-right: 92px;
}

.profile-atr-inline{
    display: inline-flex;
}

.profile-name{
    margin-right: 180px;
}

.profile-name h1{
    margin-right: 26px;
}

.profile-name .btn{
    margin-right: 8px;
}

.follow{
    width: 97px;
    height: 29px;
    background: #4094EF;
    border-radius: 3px;
}

.action{
    width: 33px;
    height: 29px;
    background: #4094EF;
    border-radius: 3px;
}